<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Bluetooth permits -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- New permissions for Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Same as SDK 23 variant for newer Android versions -->
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Space needed for BLE scanning on many devices -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Ensure that the device has BLE -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Notification permits -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="MyBluetooth"
        android:theme="@style/Theme.TennisApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>